/**
#logo {
    width: 100px;
    height: 100px;
    background-color: aqua;
    background-image: url(../images/circulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


**/ 

/** fuentes

font-family: 'Allerta Stencil', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Mitr', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Russo One', sans-serif;

**/

*{
    margin: 0;
}

/*comentario*/
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul,ol {
    list-style-type: none;
}

header  {
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;
     position: fixed;
     padding-top: 16px;
     padding-bottom:16px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-list li {
    padding: 10px;
}


/**PORTADA**/
.portada-index {
    background-image: url(../images/soldando.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

/**banner logo**/

.banner-logo {
    background-color: rgb(27, 27, 29);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;

}

.content-oscuro {
    background-color: rgb(27, 27, 29);
    color: white;
    text-align: center;

}

.logo-horizontal {
    width: 400px;
    height: 50px;
    background-image: url(../images/logo\ gytesas\ B.png);
    background-size: contain;
    background-repeat: no-repeat;


}

.banner-carrusel {
    height: 800px;
    background-image: url(../images/tecnico.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-2 {
    font-family: 'Russo One', sans-serif;
    padding: 24px 0 24px;
}

.servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-service {
    padding: 20px 15px 20px;
    background-color: rgba(255, 255, 255, 0.055);
    margin: 0.5rem;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;

}

.icono-servicios {
    background-image: url(../images/icone-de-service-noir.png);
    background-size: contain;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}


.testimonial {
    background-color: rgb(18, 18, 19);
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

.texto-testimonio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtititle-testimonio {
    color: antiquewhite;
    font-family: 'Russo One', sans-serif;
    font-size:small;
}

.titulo-testimonio {
    font-family: 'Russo One', sans-serif;
    color: rgb(165, 195, 221);
    
}

.testimonio {
    color: aliceblue;
    font-family: 'Mitr', sans-serif;
    padding: 32px;

}

#foto-testimonial {
    background-color: rgba(0, 255, 255, 0.116);
    width: 50vw;
    height: 50vh;
    text-align: center;

}
.portada-acercade {
    background-image: url(../images/supervisor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 500PX;
}

.cont-acercade{
    background-color: #363A3E;  
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;    
}