
$principal: #363A3E;
$secundary: #59626A;
$tertiary: #98A3AD;

$negro: #000000;

$negropacity: rgba(0, 0, 0, 0.753);

*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;

    &:hover {
        color:white;
        text-decoration: none;
    }

    &:visited {
        color: $secundary;
        text-decoration: none;

    }
}

ul {
    .ol {
        list-style-type: none;
    }
}



header  {
    color: white;
    background-color: $negropacity;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;
     position: fixed;
     padding-top: 16px;
     padding-bottom:16px;
}



.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    li {
        padding: 10px;
    }

}

.content-oscuro {
    background-color: $principal;
    color: white;
    text-align: center;
    padding-bottom: 40px ;
    justify-items: center;
}

.titulo-2 {
    font-family: 'Russo One', sans-serif;
    padding: 24px 0 24px;
    font-size: 3rem;
    
}



@media (max-width:480px){
    .titulo-2 {
    font-size: 1rem;
    }


}

