.content-elegirnos{
    background-color: #363A3E;  
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 40px 24px;    
}