.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 24px;
    color: white;
    text-align: center;
    justify-items: center;
}

.logo-footer {
    width: 250px;
    height: 50px;
    background-image: url(../images/logo\ gytesas\ B.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-row: span 2;
}

.menufooter {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 1rem;
}

@media (min-width:600px){
    .footer {
        display: grid;
        padding: 24px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        color: white;
    }
}